{% extends 'layout.twig' %}

{% block body %}


    <h1>Acoustic Scene Classification Project</h1>

    <a href="http://dcase.community/challenge2019"> DCASE Challenge </a>

    <br/>

    <a href="http://dcase.community/challenge2019/task-acoustic-scene-classification-results-a#Bilot2019"> My Participation with Technicolor team</a>

{% endblock %}
