{% extends 'layout.twig' %}

{% block body %}



<div class="main">

<h1>Acoustic Scene Classification</h1>
<a href="dcase_report.pdf">Technical report (pdf)</a>

    <a href="http://dcase.community/challenge2019">
    <div class="media">
      <img src="/images/dcase_logo.png" class="align-self-start mr-3 h-64" alt="dcase_logo">
      <div class="media-body">
        <h5 class="mt-0">DCASE's Website</h5>
        <p style="color:black;">There you can have all the technical details of the whole challenge, but I worked only about task 1a.</p>
      </div>
    </div>
    </a>




    <a href="http://dcase.community/challenge2019/task-acoustic-scene-classification">
    <div class="media">
      <img src="/images/dcase.png" class="align-self-start mr-3" alt="dcase_task1a">
      <div class="media-body">
        <h5 class="mt-0">DCASE2019 Task1</h5>
        <p style="color:black;">Details about Task1</p>
      </div>
    </div>
    </a>




    <a href="http://dcase.community/challenge2019/task-acoustic-scene-classification-results-a#Bilot2019">
    <div class="media">
      <img src="/images/dcase.png" class="align-self-start mr-3 h-64" alt="dcase_task1a">
      <div class="media-body">
        <h5 class="mt-0">DCASE's Task1a results</h5>
        <p style="color:black;">Results of task1a, where you can find the technical report of our team.</p>
      </div>
    </div>
    </a>







</div>






{% endblock %}
