{% extends 'layout.twig' %}

{% block body %}


<div class="intro">
<h1> Bio </h1>
</div>
<div class="main">
<p> I am currently working as a signal processing and machine learning engineer in Wavely at Lille in France, and I am looking for part-time contracts as a freelance web developper or machine learning engineer
</p>
<p>
I am an art lover, a musicien and a tech enthusiast.
</p>
</div>

{% endblock %}
