{% extends 'layout.twig' %}

{% block body %}


<div class="intro">
<h1> Bio </h1>
</div>
<div class="main">
<p> Je recherche actuellement un poste dans le machine learning/ deep learning en CDI, ainsi que des contrats freelance en data ou en développement web (Angular/NodeJS).
</p>
<p>
Passionné de musique, j'essaie au maximum d'allier mes compétences en ingénierie et en informatique à mes compétences musicales pour travailler dans de le traitement du son et ses applications.
</p>
<p>
Je m'intéresse également aux technologies du web qui me paraissent vitales dans la société d'aujourd'hui.
</p>
</div>

{% endblock %}
