{% extends 'layout.twig' %}

{% block body %}

  <div class="intro">
    <h1>Chords generator Project</h1>

    <a href="https://github.com/ValentinBilot/Jazz_generator_ML_ATIAM"> (Github Link) </a>
  </div>

{% endblock %}
