{% extends 'layout.twig' %}

{% block body %}

<header>
    <div id="identity">
        <h1 id="name"> Valentin Bilot </h1>
        <p class="intro">
            Etudiant en 2eme année à l'école des mines de Nancy
        </p>
    </div>
</header>

<body>
    <section id="main">
        <div id="maintext">
            <div class="column">
                <h1> Mon expérience </h1>
                <p>
                    Stage opérateur de 1 mois à la blanchisserie générale du CHRU de Lille
                </p>
            </div>

            <div class="column">
                <h1> Mes Compétences </h1>

                <ul id="competences">
                    <li>
                        Informatique
                        <ul>
                            <li> python </li>
                            <li> java </li>
                            <li> C </li>
                            <li> C++ </li>
                        </ul>
                    </li>
                    <li>
                        Musique
                        <ul>
                            <li> Guitare </li>
                            <li> Basse </li>
                            <li> Saxophone Alto </li>
                            <li> Trompette</li>
                            <li> Percussions</li>
                            <li> Claviers</li>
                            <li> Flûte traversière</li>

                        </ul>
                    </li>
                </ul>
            </div>


            <div class="column">
                <h1> Ma Formation </h1>
                <ul>
                        <li>
                            <strong> 2012 </strong> Médaille d'or de Formation musicale au conservatoire de Douai
                        </li>
                        <li>
                            <strong> 2013 </strong> Bac S Lycée Chatelet Douai
                        </li>
                        <li>
                            <strong> 2016 </strong> admission ENSMN
                        </li>
                </ul>
            </div>
        </div>



    </section>


</body>

<footer>
    <p>

    </p>
</footer>

{% endblock %}
