{% extends 'layout.twig' %}

{% block body %}

<link rel='stylesheet' href='/stylesheets/styleCV.css' />

<header>
    <div id="identity">
        <h1 id="name"> CV <a href="cv_valentin_bilot.pdf">(pdf)</a></h1>
        <h2 class="intro">
            Deep Learning Engineer /
            Web Developer
        </h2>
        <p>
            Web version under construction, please see pdf.
    </div>
</header>

<body>
    <section id="main">
        <div id="maintext">


            <div class="column">
                <h3> Skills </h3>

                <ul id="competences">
                    <li>
                        Programming
                        <ul>
                            <li> python </li>
                            <li> java </li>
                            <li> C </li>
                            <li> C++ </li>
                        </ul>
                    </li>
                    <li>
                        Languages
                        <ul>
                            <li> English : C1 </li>
                            <li> Spanish : B1 </li>
                            <li> Japanese : N5</li>
                            <li> French : Native</li>
                        </ul>
                    </li>
                    <li>
                        Music
                        <ul>
                            <li> Guitar </li>
                            <li> Bass </li>
                            <li> Saxophone </li>
                            <li> Trumpet</li>
                            <li> Drums</li>
                            <li> Keyboards</li>
                            <li> Flute</li>

                        </ul>
                    </li>
                </ul>
            </div>



            <div class="column">
                <h3> Experience </h3>
                <ul id="experiences">
                    <li>
                        Deep learning internship in acoustic scenes classification at Technicolor <a href="/asc"> (project page) </a> 
                    </li>
                    <li>
                        Drum Loops Generator with hierarchical RNNs <a href="/drumloopsgenerator"> (project page) </a> 
                    </li>
                    <li>
                        Chords Generator with RNNs and one-hot vectors <a href="/chordsgenerator"> (project page) </a> 
                    </li>
                    <li>
                        Robotics and deep learning internship at Kyushu University 
                    </li>
                    <li>
                        This Website with Node.js hosted on Heroku
                    </li>
                    <li>
                        A website for Raid Mines Nancy with accounts, online payments, uploading medical certificate... hosted on OVH with an Ubuntu server and PostgreSQL database
                    </li>
                </ul>
            </div>



            <div class="column">
                <h3> Education </h3>
                <ul id="education">
                        <li>
                            <strong> 2012 </strong> Musical Formation gold medal
                        </li>
                        <li>
                            <strong> 2013 </strong> Bac S Lycée Chatelet Douai
                        </li>
                        <li>
                            <strong> 2019 </strong> Engineer at l'Ecole des Mines de Nancy
                        </li>
                        <li>
                            <strong> 2019 </strong> Master ATIAM at IRCAM
                        </li>
                </ul>
            </div>
        </div>



    </section>


</body>

<footer>
    <p>

    </p>
</footer>

{% endblock %}
