{% extends 'layout.twig' %}

{% block body %}

    <div class="main">
    <h1>Drum loops generator Project</h1>
    <a href="https://github.com/ValentinBilot/DrumLoopsGenerator"> Github link </a>
    </br>
    <h2>Global schema of the first Variational Auto-Encoder:</h2>
    <img src="images/drum_loops_global_sheme.png" style="max-width:500px;">
    </div>

{% endblock %}
