{% extends 'layout.twig' %}

{% block body %}

<div class="intro">

    <h1>Welcome to {{title}}'s website</h1>
    <p>Here you can find information about me and things I did or do.</p>

</div>
<div class="main">


<div class=col-sm>

<!-- FIRST CARD -->

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">CV</h5>
        <p class="card-text">My CV, with links to download pdf versions.</p>
        <a href="cv" class="btn btn-primary">See CV</a>
      </div>
    </div>
  </div>

<!-- SECOND CARD -->


  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">BIO</h5>
        <p class="card-text">Little description of myself.</p>
        <a href="bio" class="btn btn-primary">See Bio</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <!-- Third Card -->
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">My Projects</h5>
            <p class="card-text">The projects I worked and work on.</p>
            <a href="projects" class="btn btn-primary">See Projects</a>
          </div>
        </div>


    </div>



  <div class="col-sm-6">
      <!-- Fourth Card -->
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">My Music</h5>
          <p class="card-text">The music I compose, produce, play...</p>
          <a href="music" class="btn btn-primary">Links</a>
        </div>
      </div>


  </div>
</div>

</div>

</div>


{% endblock %}
