{% extends 'layout.twig' %}

{% block body %}


<div class="main">

    <h1>My music links</h1>


    
    <a href="https://www.youtube.com/channel/UCMvNQcR85N_aWUlpvw3dHIA">
    <div class="media">
      <img src="/images/youtube.png" class="align-self-start mr-3" alt="youtube logo">
      <div class="media-body">
        <h5 class="mt-0">My Youtube Channel</h5>
        <p style="color:black;">Here I post all the music I compose and produce.</p>
      </div>
    </div>
    </a>


    <a href="https://soundcloud.com/valentin-bilot-360599138">
    <div class="media">
      <img src="/images/soundcloud.png" class="align-self-start mr-3" alt="soundcloud logo">
      <div class="media-body">
        <h5 class="mt-0">My Soundcloud</h5>
        <p style="color:black;">Here I post most music I compose and produce.</p>
      </div>
    </div>
    </a>

    <a href="https://soundcloud.com/valentin-bilot-186820567">
    <div class="media">
      <img src="/images/soundcloud.png" class="align-self-start mr-3" alt="soundcloud logo">
      <div class="media-body">
        <h5 class="mt-0">Soundcloud of Dahus Project</h5>
        <p style="color:black;">A band that I lead, produce and where I play many instruments</p>
      </div>
    </div>
    </a>

</div>


{% endblock %}
