{% extends 'layout.twig' %}

{% block body %}


    <h1>My music links</h1>

    <a href="https://www.youtube.com/channel/UCMvNQcR85N_aWUlpvw3dHIA">
    <div class="media">
      <img src="/images/youtube.png" class="align-self-start mr-3" alt="youtube logo">
      <div class="media-body">
        <h5 class="mt-0">My Youtube Channel</h5>
        <p>Here I post all the music I compose and produce.</p>
      </div>
    </div>
    </a>


{% endblock %}
