{% extends 'layout.twig' %}

{% block body %}


    <h1>My music links</h1>


    <div class="media">
      <img src="../images/youtube.png" class="align-self-start mr-3" alt="youtube logo">
      <div class="media-body">
        <h5 class="mt-0">Top-aligned media</h5>
        <p>My Youtube Channel where I post all the music I compose and produce.</p>
      </div>
    </div>


{% endblock %}
