
$color0: #356461;
$color1: #81a9b6;
$color2: #d7d8ff;

header
{
    margin-bottom: 3%;
}


h3{
    background: $color1;
    border-radius:10px;
    padding:4px;
    max-width: 150px;

}


.column h1
{
	color:$color2;
}

.intro #name
{
	text-align: center;
    margin:auto;
}

#identity
{
    margin-top: 2%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

#photo
{
	float:right;
    margin-top: 2%;
    margin-right: 1%;
}

#main
{
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    margin-right: 5%;
    padding: 1%;
}

#maintext
{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    width:100%;
}

#main:nth-child(1)
{
    width:15%;
}

.column
{
    display: flex;
    flex-direction: column;
    min-width: 250px;
    max-width: 70%;
    background: $color2;
    margin-left:1%;
    margin-right:1%;
    padding: 1%;
    border-radius:5px;
}







aside h1
{
    font-family: 'cac_champagneregular', Arial, serif;
    font-size: 1.2em;
}

aside
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background : url("images/aside.jpg");
    min-width: 200px;
}

footer
{
    margin-top: 2%;
    text-align: right;
}

.ombretext
{
	text-shadow: 1px 1px 2px orange;
}



@media screen and (max-width: 1400px)
{
    aside
    {
        display:none;
    }
    #maintext
    {
        flex-direction: column;

    }
    .column h1
    {
        color:blue;
    }
    .column, #maintext, #main
    {

        max-width: 100%;;
    }

    .column{
        margin:2%;
    }

    #competences
    {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-around;
    }
    #experiences
    {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
    }
    #education
    {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
    }
    header
    {
        margin-bottom: 0px;
    }
    p, li
    {
        font-size: 1.0em;
    }
    h3
    {
        font-size: 1.5em;
    }
    footer
    {
        font-size: 0.5em;
    }

}

h3{
    box-shadow: 3px 5px 4px #888888;
}

.column{
    box-shadow: 5px 10px 8px #888888;
}
